/**
 * @name VerticalMonitor
 * @description Makes discord better suited for vertical monitors by making the left sidebars collapsible (and some other minor details).
 * @author SKM GEEK
 * @version 1.1.1
 * @authorId 665724183094755359
 * @website https://www.skmgeek.com
 * @source https://github.com/QEStudios/DiscordVerticalTheme
 * @updateUrl https://raw.githubusercontent.com/QEStudios/DiscordVerticalTheme/refs/heads/main/DiscordVerticalTheme.theme.css
 */

/* server left side bar */
.guilds__5e434 {
    width: 10px !important;
}

.guilds__5e434:hover {
    width: 70px !important;
}

/* channel left side bar */
.sidebarList__5e434.sidebarList__5e434:has(> nav.privateChannels_e6b769),
.sidebarList__5e434.sidebarList__5e434:has(> nav.container__2637a) {
    width: 175px !important;
}

.sidebarList__5e434.sidebarList__5e434:has(> nav.privateChannels_e6b769):hover,
.sidebarList__5e434.sidebarList__5e434:has(> nav.container__2637a):hover {
    width: 250px !important;
}

/* Selected server pill */
.guilds__5e434 .item__58105 {
    width: 10px;
}

/* Ping notification */
.lowerBadge_cc5dd2 {
    left: -50%;
    top: 50%;
    transform: translateY(-50%) !important;
    height: 30px;
    z-index: 1;
}

.guilds__5e434 .svg_cc5dd2 {
    z-index: 2;
}

.lowerBadge_cc5dd2 .numberBadge__2b1f5 {
    width: 50px !important;
    height: 30px !important;
    justify-content: center;
    padding-right: 0 !important;
    transform: translateX(-32%) !important;
}

use[href$='-lower_badge_masks'] {
    display: none;
}

.unreadMentionsIndicatorTop_ef3116,
.unreadMentionsIndicatorBottom_ef3116 {
    height: 100px;
}

.unreadMentionsBar_ef3116 {
    width: 100px;
    height: 100%;
    left: -40%;
}
