/**
 * @name VerticalMonitor
 * @description Makes discord better suited for vertical monitors by making the left sidebars collapsible (and some other minor details).
 * @author SKM GEEK
 * @version 1.0.5
 * @authorId 665724183094755359
 * @website https://www.skmgeek.com
 * @source https://github.com/QEStudios/DiscordVerticalTheme
 * @updateUrl https://raw.githubusercontent.com/QEStudios/DiscordVerticalTheme/refs/heads/main/DiscordVerticalTheme.theme.css
 */

/* server left side bar */
.guilds_c48ade {
    transition-duration: var(--transition-time);
    width: 10px !important;
}

.guilds_c48ade:hover {
    transition-duration: var(--transition-time);
    width: 70px !important;
}

/* channel left side bar */
.sidebar_c48ade.sidebar_c48ade:has(> nav.privateChannels__35e86),
.sidebar_c48ade.sidebar_c48ade:has(> nav.container__2637a) {
    transition-duration: var(--transition-time);
    width: 120px !important;
}

.sidebar_c48ade.sidebar_c48ade:has(> nav.privateChannels__35e86):hover,
.sidebar_c48ade.sidebar_c48ade:has(> nav.container__2637a):hover {
    transition-duration: var(--transition-time);
    width: 250px !important;
}

/* Selected server pill */
.guilds_c48ade .item__58105 {
    width: 10px;
}

/* Ping notification */
.lowerBadge_cc5dd2 {
    left: -50%;
    top: 50%;
    transform: translateY(-50%) !important;
    height: 30px;
    z-index: 1;
}

.guilds_c48ade .svg_cc5dd2 {
    z-index: 2;
}

.lowerBadge_cc5dd2 .numberBadge__2b1f5 {
    width: 35px !important;
    height: 30px !important;
    justify-content: centre;
    padding-right: 0 !important;
}

use[href$='-lower_badge_masks'] {
    display: none;
}

.unreadMentionsIndicatorTop_ef3116,
.unreadMentionsIndicatorBottom_ef3116 {
    height: 100px;
}

.unreadMentionsBar_ef3116 {
    width: 100px;
    height: 100%;
    left: -40%;
}